/* header */
.details-header {
  background-color: #3ccace;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.details-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-title {
  font-size: 24px;
  margin: 0;
}

.details-header-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button {
  cursor: pointer;
  background-color: #3ccace;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.pin-number-container input {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button:hover {
  background-color: #2ba8b0;
}

/* メイン */
.case-detail-box {
  width: 238px;
  height: 42px;
  border: 1px solid #ccc;  /* 四角として見えるようにするために枠線を追加 */
  border-radius: 5px;
  padding: 5px;           /* テキストと枠線との間に適度な余白を追加 */
  box-sizing: border-box; /* widthとheightがpaddingやborderを含むように */
  background-color: #f9f9f9; /* 背景色を追加 */
  display: flex;
  align-items: center;
}

.case-detail-box-remarks {
  height: 100%;
  min-height: 450px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}